header {
  padding: $var;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  .points-box,
  .timer-box {
    max-width: $var*8;
  }
  .count-container {
    display: flex;
    align-items: flex-end;
    &>div {
      width: 100%;
      text-align: center;
      margin-left: $var;
    }
  }
}
#deal-button,
#points,
#timer {
  background: #fff;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  line-height: 2em;
  padding: $var/2;
  box-sizing: border-box;
  outline: none;
}
#deal-button:hover {
  background: $green;
  color: #fff;
}
#alerts {
  background-color: #fff;
  font-size: $var*2.5;
  font-weight: bold;
  padding: $var $var*1.5;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  &.success {
    background-color: $green;
    color: #fff;
  }
  &.error {
    background-color: $red;
    color: #fff;
  }
}
#board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}
