body {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Poiret One', sans-serif;
  font-size: $var*2;
}

header {
  padding: $var/2 $var;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  .points-box,
  .timer-box {
    max-width: $var*8;
  }
  .count-container {
    display: flex;
  }
  #points,
  #timer {
    font-size: $var*5;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
  }
}
#alerts {
  background-color: #fff;
  font-size: $var*2.5;
  padding: $var;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  &.success {
    background-color: $green;
  }
  &.error {
    background-color: $red;
  }
}

#board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}

#super-set {
  background-color: #fafafa;
  transition: all 0.5s ease;
}
