.card-container {
  flex: 1 0 20%;
  padding: $var;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  // flex-basis: 27%;
  // margin-bottom: $var*2;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: $card-bg;
  padding: $var;
  box-sizing: border-box;
  &:hover {
    box-shadow: 0px 0px 13px -5px #262626;
  }
  &.selected {
    box-shadow: 0px 0px 16px -3px #262626;
    border: 2px solid #3399cc;
  }
}

@media (max-width: 560px) {
  .card {
    flex-basis: 25%;
  }
}

@media (max-width: 420px) {
  .card {
    flex-basis: 20%;
  }
}


// shapes
.card {
  .shape-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap-reverse;
    .shape {
      display: flex;
      justify-content: space-around;
      margin: $var;
      &:before {
        content: ""
      }
      &.circle:before,
      &.square:before,
      &.diamond:before {
        height: $var*3;
        width: $var*3;
        border: $var/1.5 solid;
      }
      &.green:before {
        border-color: $green;
      }
      &.green.solid:before {
        background: $green;
      }
      &.green.striped:before {
        background: repeating-linear-gradient(
          to bottom,
          $bg,
          $bg $var/3,
          $green $var/3,
          $green $var/1.5
        );
      }
      &.blue:before {
        border-color: $blue;
      }
      &.blue.solid:before {
        background: $blue;
      }
      &.blue.striped:before {
        background: repeating-linear-gradient(
          to bottom,
          $bg,
          $bg $var/3,
          $blue $var/3,
          $blue $var/1.5
        );
      }
      &.orange:before {
        border-color: $orange;
      }
      &.orange.solid:before {
        background: $orange;
      }
      &.orange.striped:before {
        background: repeating-linear-gradient(
          to bottom,
          $bg,
          $bg $var/3,
          $orange $var/3,
          $orange $var/1.5
        );
      }
    }
    .circle:before{
      border-radius: 100%;
    }
    .diamond:before{
      width: $var*2.5;
      transform: rotate(45deg);
    }
  }
}


@media (max-width: 690px) {
  .card .shape-container .shape {
    margin: $var690;
    &.circle:before,
    &.square:before,
    &.diamond:before {
      height: $var690*3;
      width: $var690*3;
      border: $var690 solid;
    }
    &.green:before {
      border-color: $green;
    }
    &.blue:before {
      border-color: $blue;
    }
    &.orange:before {
      border-color: $orange;
    }
  }
}
