@import url("https://fonts.googleapis.com/css?family=Quicksand:300,500,700");
/* line 1, ../sass/_base.scss */
body {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fafafa;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: light;
}

/* line 16, ../sass/_base.scss */
h1 {
  margin: 0px;
}

/* line 1, ../sass/_splash.scss */
#splash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.9);
  z-index: 999;
  padding: 20px;
  display: flex;
  justify-content: center;
  overflow: scroll;
}
/* line 11, ../sass/_splash.scss */
#splash.hidden {
  display: none;
}

/* line 16, ../sass/_splash.scss */
.steps {
  max-width: 800px;
  position: relative;
}
/* line 19, ../sass/_splash.scss */
.steps .step {
  display: flex;
  padding: 10px;
}

/* line 24, ../sass/_splash.scss */
#intro {
  flex: 1;
  text-align: center;
  flex-direction: column;
}
/* line 28, ../sass/_splash.scss */
#intro h2 {
  margin-top: 0;
}
/* line 31, ../sass/_splash.scss */
#intro button {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 10px 20px;
}
/* line 36, ../sass/_splash.scss */
#intro button:hover {
  background: #28B78D;
  color: #fff;
}

/* line 42, ../sass/_splash.scss */
#instructions,
#examples {
  flex: 1;
  padding: 10px;
}
/* line 46, ../sass/_splash.scss */
#instructions p,
#examples p {
  margin-top: 0px;
}

@media (max-width: 660px) {
  /* line 53, ../sass/_splash.scss */
  .step {
    flex-direction: column;
  }

  /* line 56, ../sass/_splash.scss */
  #instructions,
  #examples {
    flex: 1;
  }
}
/* line 62, ../sass/_splash.scss */
.green {
  color: #28B78D;
}

/* line 66, ../sass/_splash.scss */
.orange {
  color: #FF974F;
}

/* line 70, ../sass/_splash.scss */
.red {
  color: #ff4f5f;
}

/* line 74, ../sass/_splash.scss */
.blue {
  color: #149ECC;
}

/* line 1, ../sass/_board.scss */
header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
/* line 8, ../sass/_board.scss */
header .points-box,
header .timer-box {
  max-width: 80px;
}
/* line 12, ../sass/_board.scss */
header .count-container {
  display: flex;
  align-items: flex-end;
}
/* line 15, ../sass/_board.scss */
header .count-container > div {
  width: 100%;
  text-align: center;
  margin-left: 10px;
}

/* line 22, ../sass/_board.scss */
#deal-button,
#points,
#timer {
  background: #fff;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  line-height: 2em;
  padding: 5px;
  box-sizing: border-box;
  outline: none;
}

/* line 36, ../sass/_board.scss */
#deal-button:hover {
  background: #28B78D;
  color: #fff;
}

/* line 40, ../sass/_board.scss */
#alerts {
  background-color: #fff;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
}
/* line 47, ../sass/_board.scss */
#alerts.success {
  background-color: #28B78D;
  color: #fff;
}
/* line 51, ../sass/_board.scss */
#alerts.error {
  background-color: #ff4f5f;
  color: #fff;
}

/* line 56, ../sass/_board.scss */
#board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}

/* line 1, ../sass/_card.scss */
.card-container {
  flex: 1 0 20%;
  padding: 10px;
}

/* line 5, ../sass/_card.scss */
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
/* line 16, ../sass/_card.scss */
.card:hover {
  box-shadow: 0px 0px 13px -5px #262626;
}
/* line 19, ../sass/_card.scss */
.card.selected {
  box-shadow: 0px 0px 16px -3px #262626;
  border: 2px solid #3399cc;
}

@media (max-width: 560px) {
  /* line 26, ../sass/_card.scss */
  .card {
    flex-basis: 25%;
  }
}
@media (max-width: 420px) {
  /* line 32, ../sass/_card.scss */
  .card {
    flex-basis: 20%;
  }
}
/* line 40, ../sass/_card.scss */
.card .shape-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap-reverse;
}
/* line 46, ../sass/_card.scss */
.card .shape-container .shape {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
/* line 50, ../sass/_card.scss */
.card .shape-container .shape:before {
  content: "";
}
/* line 53, ../sass/_card.scss */
.card .shape-container .shape.circle:before, .card .shape-container .shape.square:before, .card .shape-container .shape.diamond:before {
  height: 30px;
  width: 30px;
  border: 6.66667px solid;
}
/* line 60, ../sass/_card.scss */
.card .shape-container .shape.green:before {
  border-color: #28B78D;
}
/* line 63, ../sass/_card.scss */
.card .shape-container .shape.green.solid:before {
  background: #28B78D;
}
/* line 66, ../sass/_card.scss */
.card .shape-container .shape.green.striped:before {
  background: repeating-linear-gradient(to bottom, #fafafa, #fafafa 3.33333px, #28B78D 3.33333px, #28B78D 6.66667px);
}
/* line 75, ../sass/_card.scss */
.card .shape-container .shape.blue:before {
  border-color: #149ECC;
}
/* line 78, ../sass/_card.scss */
.card .shape-container .shape.blue.solid:before {
  background: #149ECC;
}
/* line 81, ../sass/_card.scss */
.card .shape-container .shape.blue.striped:before {
  background: repeating-linear-gradient(to bottom, #fafafa, #fafafa 3.33333px, #149ECC 3.33333px, #149ECC 6.66667px);
}
/* line 90, ../sass/_card.scss */
.card .shape-container .shape.orange:before {
  border-color: #FF974F;
}
/* line 93, ../sass/_card.scss */
.card .shape-container .shape.orange.solid:before {
  background: #FF974F;
}
/* line 96, ../sass/_card.scss */
.card .shape-container .shape.orange.striped:before {
  background: repeating-linear-gradient(to bottom, #fafafa, #fafafa 3.33333px, #FF974F 3.33333px, #FF974F 6.66667px);
}
/* line 106, ../sass/_card.scss */
.card .shape-container .circle:before {
  border-radius: 100%;
}
/* line 109, ../sass/_card.scss */
.card .shape-container .diamond:before {
  width: 25px;
  transform: rotate(45deg);
}

@media (max-width: 690px) {
  /* line 118, ../sass/_card.scss */
  .card .shape-container .shape {
    margin: 8px;
  }
  /* line 120, ../sass/_card.scss */
  .card .shape-container .shape.circle:before, .card .shape-container .shape.square:before, .card .shape-container .shape.diamond:before {
    height: 24px;
    width: 24px;
    border: 8px solid;
  }
  /* line 127, ../sass/_card.scss */
  .card .shape-container .shape.green:before {
    border-color: #28B78D;
  }
  /* line 130, ../sass/_card.scss */
  .card .shape-container .shape.blue:before {
    border-color: #149ECC;
  }
  /* line 133, ../sass/_card.scss */
  .card .shape-container .shape.orange:before {
    border-color: #FF974F;
  }
}
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
/* line 29, ../sass/_animations.scss */
.bounceInDown {
  animation: bounceInDown 0.7s;
  animation-fill-mode: both;
}

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
/* line 50, ../sass/_animations.scss */
.bounceOutUp {
  animation: bounceOutUp 0.7s;
  animation-fill-mode: both;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
}
/* line 62, ../sass/_animations.scss */
.shake {
  animation: shake .1s 5;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
/* line 78, ../sass/_animations.scss */
.zoomIn {
  animation: zoomIn 0.7s;
  animation-fill-mode: both;
}
